#titulo1 {
    color: rgb(60, 60, 238);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

#subtitulo {
    color: rgb(108, 108, 244);
}


body {
    background-color: rgb(221, 221, 145);
}

h2 {
    color: rgb(144, 182, 9);
}

img {
    width: 280px;
    height: 260px;
}