#titulo1 {
    color: rgb(0, 0, 176);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

#subtitulo {
    color: rgb(66, 170, 179);
}


body {
    background-color: rgb(221, 221, 145);
}

h2 {
    color: rgb(73, 93, 3);
}

img {
    width: 280px;
    height: 260px;
}